---
---
$font-stack-header: 'Roboto Slab', serif;
$font-stack-text: 'Anonymous Pro', monospace;
$tan: rgba(209,207,190,1);
$pale-green: rgba(184,194,178,1);
$pale-blue: rgba(139,164,159,1);
$purple: rgba(68,59,94,1);
$red: rgba(247,59,86,1);
$iterm-green: rgba(139,194,73,1);
$iterm-blue: rgba(38,198,218,1);
$shadow-up: 0px 0px 7px 0px rgba(0,0,0,0.45);
$shadow: 0px 1px 7px 0px rgba(0,0,0,0.45);
$shadow-sm:  0px 1px 5px 0px rgba(0,0,0,0.45);

//Colors
$dark-blue: rgba(38,79,116,1);
$medium-light-blue: rgba(117,149,178,1);
$dark-grey: rgba(74,74,74,1);
$yellow: rgba(247,228,151,1);
$lightest-blue: rgba(176,197,216,1);
$light-grey: rgba(151,151,151,1);

h1, h2, h3, h4, h5, h6{
	font-family: $font-stack-header;
}
div, p, li, ul, pre, ol, a, span{
	font-family: $font-stack-text;
}
html, body{
	position: relative;
}
html{
	min-height: 100%;
}
body{
	height: 100%;
	background: rgba(38,80,116,1);
	background: -moz-linear-gradient(left, rgba(38,80,116,1) 0%, rgba(38,80,116,1) 50%, rgba(117,149,178,1) 51%, rgba(117,149,178,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(38,80,116,1)), color-stop(50%, rgba(38,80,116,1)), color-stop(51%, rgba(117,149,178,1)), color-stop(100%, rgba(117,149,178,1)));
	background: -webkit-linear-gradient(left, rgba(38,80,116,1) 0%, rgba(38,80,116,1) 50%, rgba(117,149,178,1) 51%, rgba(117,149,178,1) 100%);
	background: -o-linear-gradient(left, rgba(38,80,116,1) 0%, rgba(38,80,116,1) 50%, rgba(117,149,178,1) 51%, rgba(117,149,178,1) 100%);
	background: -ms-linear-gradient(left, rgba(38,80,116,1) 0%, rgba(38,80,116,1) 50%, rgba(117,149,178,1) 51%, rgba(117,149,178,1) 100%);
	background: linear-gradient(to right, rgba(38,80,116,1) 0%, rgba(38,80,116,1) 50%, rgba(117,149,178,1) 50%, rgba(117,149,178,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#265074', endColorstr='#7595b2', GradientType=1 );
}
body.body-noscroll{
	position: fixed!important;

}
//Header
header{
	margin: 0;
	box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	padding-top: 27px;
	padding-bottom: 27px;
	position: relative;
	z-index: 10;
	background-color: white;
	#menu-btn{
		color: $medium-light-blue;
		font-size: 1.2em;
		cursor: pointer;
	}
}
#inner-title-box{
	display: table-cell;
	vertical-align: middle;
	height:75px;
	padding-left:25px;
	h1{
		font-size: 1.2em;
		font-family: $font-stack-header;
		color: $dark-grey;
		text-align:center;
		margin:0;
		font-weight: 700;
		letter-spacing: .5px;
	}
	h3{
		font-size: 1em;
		color: $dark-grey;
		font-family: $font-stack-text;
		margin:3px 0 0;
		font-weight: 400;
	}
}
#inner-photo-box{
	display:table-cell;
	img{
		width: 75px;
		height: 75px;
		border-radius:500px;
		box-shadow: $shadow-sm;
		-webkit-box-shadow: $shadow-sm;
		-moz-box-shadow: $shadow-sm;
	}
}
#profile-title-box{
	display: table;
	margin-top:40px;
}

//menu
body.menu-open{
	overflow:hidden;
}
#menu-box{
	height: 100vh;
	width: 100%;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;
	display: none;
	opacity: 0;
	padding-top: 27px;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}
#github-logo-large{
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	/*
		&.closing-menu{
			filter: blur(0);
		}
	*/
	filter: blur(5px);
	font-size: 30em;
	color: $lightest-blue;
	position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
    z-index: 1;
    line-height: 30em;
    i{
    	bottom:0;
    	vertical-align: bottom;
    	margin-bottom:-30px;
    }
}

#menu-close-btn{
	color: $dark-blue;
	font-size: 1.2em;
	cursor: pointer;
	float: left;
}
#menu-info-box{
	text-align: right;
	position:relative;
	z-index: 10;
}
#menu-photo-box{
	float:right;
	padding-left:20px;
	img{
		width: 50px;
		height: 50px;
		border-radius:100px;
		box-shadow: $shadow-sm;
		-webkit-box-shadow: $shadow-sm;
		-moz-box-shadow: $shadow-sm;
	}
}
#github-user-info{
	float:right;
	p{
		font-family: $font-stack-header;
		margin-bottom: 0;
		font-size: .7em;
		color: $medium-light-blue;
	}
}
#info-inner{
	float:left;
}
#menu-items{
	position: relative;
	z-index: 13;
	padding-top:40px;
	padding-bottom:100px;
	.menu-item-single{
		cursor:pointer;
		opacity: 0;
		//-webkit-transition: all 1s ease;
		transition: all .5s ease;
		&.closing-menu{
			-webkit-transform: scale(3);
			-moz-transform: scale(3);
			-o-transform: scale(3);
			-ms-transform: scale(3);
			opacity: 0;
		}
	}
	.card{
		border: none;
		box-shadow: $shadow;
		-webkit-box-shadow: $shadow;
		-moz-box-shadow: $shadow;
		background-color: rgba(255,255,255,.5);
		margin-bottom: 10px;
		.card-title{
			font-family: $font-stack-text;
			color: $dark-blue;
			font-weight: 700;
			margin-bottom:5px;
			i{
				font-size: 1.5em;
				width:40px;
				color: $medium-light-blue;
			}

		}
		.card-subtitle{
			font-family: $font-stack-header;
			color: $medium-light-blue;
			padding-left: 40px;
			font-size: .9em;
			font-weight: 300;
		}
		.card-text{
			display: none;
		}
		.card-link{
			display: none;
		}
	}
}
@for $i from 1 through 10 {
    #menu-items .menu-item-single.opening-menu:nth-child(#{$i}n) {
       // animation-delay: #{$i*1}s;
        opacity: 1;
    }
}
//sub-header
#sub-header{
}
.sub-header-item{
	text-align:center;
	height:50px;
	position:relative;
}
.sub-header-item-inner{
	height:100%;
	font-weight: 700;
	text-align:center;
	h5{
		font-size: 1.2em;
		margin:0;
		width:100%;
	}
	span{
		font-size: .9em;
		font-weight: 400;
		margin:0;
		display:block;
		line-height:.9em;
		width:100%;
		margin-top: -15px;
	}
}
#sub-header-repos{
	background-color: $dark-blue;
	color: $lightest-blue;
}
#sub-header-gists{
	background-color: $yellow;
	color: $dark-blue;
}
#sub-header-languages{
	background-color: $medium-light-blue;
	color: $lightest-blue;
}
//main
#main-content{
	box-shadow: $shadow-up;
	-webkit-box-shadow: $shadow-up;
	-moz-box-shadow: $shadow-up;
	background-color: white;
	position: relative;
	z-index: 10;
	padding-bottom: 30px;
	.container{

	}
}
#public-repo-box, #public-gist-box, #stats-box{
	padding-top: 30px;
	padding-bottom: 30px;
	h5{
		font-weight: 700;
		color: $dark-blue;
		letter-spacing:.5px;
		padding-bottom: 25px;
	}
	h5 i{font-size:1.5em;
		display:inline;
		color: $lightest-blue;
	}
}
#public-repo-list,#public-gist-list{
	padding-top: 30px;
	background-color: #E8EFF6;
	color:$dark-blue;
	li{
		background-color: transparent;
		padding-top:0;
		padding-bottom:5px;
		border-top:none;
		a{

			text-decoration:none;
			position: relative;
			
			&.expanded i{
				bottom: 10px;
			}
			i{
				color:$lightest-blue;
				position:absolute;
				padding-left: 10px;
				font-size: 1.7em;
				right: -25px;
				line-height: 0;
				bottom:20px;
			}
		}
	}
}
#public-repo-list li:last-child{
	border-right: none;
	border-bottom: none;
}
#public-repo-list li a,#public-gist-list li a, #stats-box h6{
		font-family: $font-stack-header;
		color: $lightest-blue;
		font-size: 1em;
		font-weight: 700;
		padding-bottom: 10px;
}
#public-repo-list li a,#public-gist-list li a{

}
#stats-box{
	h5{
		width:100%;
	}
}
#stats-box{
	padding-left: 15px;
	padding-right: 15px;
	h6{

	}
	p{
		font-size: .9em;
		color: $dark-blue;
		font-weight: 700;
		padding-left: 5px;
		span {
		    /* color: #7595b2; */
		    font-size: .8em;
		    font-weight: 400;
		    line-height: 1.5em;
		    vertical-align: middle;
		    margin-bottom: 10px;
		    margin-left: 10px;
		}
		
	}
	ul{
		padding-left: 5px;
	}
	li{
		font-size: .9em;
		font-weight: 700;
		color: $dark-blue;
		list-style-type: none;
	}
}
.stats-item-box{
	min-height:100px;
	background-color: #E8EFF6;
	padding-top:30px;
}
.stats-item-box,.list-item-title{
	//border-right: 3px solid $lightest-blue;
	//padding-right: 10px;
	//border-bottom: 3px solid $lightest-blue;
	padding-bottom: 10px;
	margin-bottom: 20px;
	&:last-child{
		border-right: none;
		border-bottom: none;
	}
}
.list-item-hidden{
	display:none;
}
.list-item-expanded{
	color: $dark-blue;
	margin-top:2px;
	height:auto;
	padding-top: 10px;
	padding-left: 10px;
	p{
		font-size:.9em;
	}
}
#quote-box{
	//padding: 30px 0 0 0;
	padding: 0;
	position:relative;
	z-index: 10;
	margin-top:30px;

		display:flex;
	p{

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

		color: $lightest-blue;
		font-size: .9em;
		font-family: $font-stack-header;
		font-weight:700;
		letter-spacing: .75px;
		text-align: center;
		width: 100%;
	}
}

//ajax
.dynamic-content{
	min-height: 200px;
	overflow:hidden;
	position: relative;
}
.sub-header-item{
	.loading-spinner{
		i{
			font-size: 1.7em;	
			color: $dark-blue;
		}
	}
}
.repo-badge{
	margin-left:10px;
	line-height: 1em;
	vertical-align: text-top;
	font-weight: 400;
}
.loading-spinner{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
	i{
		font-size: 3em;
		color: $medium-light-blue;
	    -webkit-animation:spin 4s linear infinite;
	    -moz-animation:spin 4s linear infinite;
	    animation:spin 4s linear infinite;
	}
}

//footer
footer{
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
	bottom: 0;
	width: 100%;
}
#github-logo-box{
	display:inline-block;
	i{
		color: $lightest-blue;
		font-size: 4em;
	}
}
#footer-repo-info{
	display:inline-block;
	p{
		margin-left: 0;
		font-size:.8em;
		margin-bottom: 0;
		color: $lightest-blue;
		font-family: $font-stack-header;
	}
}
#redirect-modal{
    position: fixed;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    .modal-body{
    	font-size: .9em;
    }
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@media (min-width: 576px) {
	#menu-btn{
		display:none;
	}

}
@media (min-width: 767px) {
	#quote-box{
		border:1px solid $lightest-blue;	
	}
}