<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width">
			<title>{{ site.github.project_title }}</title>
			<!--[if IE]><link rel="shortcut icon" href="assets/images/favicon.ico"><![endif]-->
			<link rel="icon" href="assets/images/favicon.png">
			<link href="https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Roboto+Slab:100,300,400,700" rel="stylesheet">
			<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
			<link id="appCSS" rel="stylesheet" type="text/css" href="assets/css/style.css">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js" integrity="sha384-u/bQvRA/1bobcXlcEYpsEdFVK/vJs3+T+nXLsBYJthmdBuavHvAW6UsmqO2Gd/F9" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js" crossorigin="anonymous"></script>
		</head>

		<body>
			<div id="menu-box">
				<div id="github-logo-large">
					<i class="fab fa-github"></i>
				</div>
				<div class="container">
					<div class="row">
						<div id="menu-info-box" class="col-md-12">
							<i id="menu-close-btn" class="fas fa-bars"></i>
							<div id="github-user-info">
								<div id="info-inner">
									<p id="gh-info-name"></p>
									<p id="gh-info-location"></p>
									<p id="gh-info-bio"></p>
								</div>
								<div id="menu-photo-box">
									<img src="assets/images/profile.jpg">
								</div>
							</div>
						</div>
					</div>
					<div id="menu-items" class="row">
						<div class="menu-item-single col-md-3">
							<div class="card">
								<div class="card-body">
								    <h5 class="card-title"><i class="fas fa-database"></i>repositories</h5>
								    <h6 class="card-subtitle mb-2">::public</h6>
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								    <a href="#" class="card-link">Card link</a>
    								<a href="#" class="card-link">Another link</a>
								</div>
							</div>
						</div>
						<div class="menu-item-single col-md-3">
							<div class="card">
								<div class="card-body">
								    <h5 class="card-title"><i class="fas fa-file-code"></i>gists</h5>
								    <h6 class="card-subtitle mb-2">you get the point</h6>
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								    <a href="#" class="card-link">Card link</a>
    								<a href="#" class="card-link">Another link</a>
								</div>
							</div>
						</div>
						<div class="menu-item-single col-md-3">
							<div class="card">
								<div class="card-body">
								    <h5 class="card-title"><i class="fas fa-chart-pie"></i>stats</h5>
								    <h6 class="card-subtitle mb-2">the numbers</h6>
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								    <a href="#" class="card-link">Card link</a>
    								<a href="#" class="card-link">Another link</a>
								</div>
							</div>
						</div>
						<div class="menu-item-single col-md-3">
							<div class="card">
								<div class="card-body">
								    <h5 class="card-title"><i class="fab fa-git"></i>github.com/jerrycoe</h5>
								    <h6 class="card-subtitle mb-2">view the code</h6>
									<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
								    <a href="#" class="card-link">Card link</a>
    								<a href="#" class="card-link">Another link</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<header>
				<div class="container">
					<div class="row">
						<div class="col-md-1">
							<i id="menu-btn" class="fas fa-bars"></i>
						</div>
					</div>
					<div class="row" id="profile-title-box">
						<div class="col-md-12">
							<div id="inner-photo-box">
								<img src="assets/images/profile.jpg">
							</div>

							<div id="inner-title-box">
								<h1>{{ site.github.project_title }}</h1>
								<h3>{{ page.tagline }}</h3>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="container">
				<div id="sub-header" class="d-flex flex-row align-content-center">
					<div id="sub-header-repos" class="flex-fill sub-header-item">
						<div class="sub-header-item-inner d-flex align-items-center flex-wrap">
							<h5 class="align-self-center">{{ site.github.public_repositories | size }}</h5><span>repositories</span>
						</div>
						
					</div>
					<div id="sub-header-gists" class="flex-fill sub-header-item">
						<div class="sub-header-item-inner d-flex align-items-center flex-wrap">
							<h5 class="align-self-center">0</h5><span>gists</span>
						</div>
						<div class='loading-spinner'><i class='fas fa-circle-notch'></i></div>
					</div>
					<div id="sub-header-languages" class="flex-fill sub-header-item">
						<div class="sub-header-item-inner d-flex align-items-center flex-wrap">
							<h5 class="align-self-center">0</h5><span>languages</span>
						</div>
						<div class='loading-spinner'><i class='fas fa-circle-notch'></i></div>
					</div>
				</div>
			</div>
			<div id="main-content">
				<div class="container">
					{% assign sorted = site.github.public_repositories | sort:"updated_at" | reverse %}
					<div class="row">
						<div id="public-repo-box" class="col-md-5"> 	
							<h5>
								<i class="fas fa-database"></i>
								public repos
							</h5>
							<ul id="public-repo-list" class="list-group list-group-flush">
								{% for repos in sorted %}
									{% if forloop.index0 < 3 %}
										<li class="list-group-item list-item-title list-item-preview" data-repo-id="{{ repos.id }}">
										  	<a href="{{ repos.html_url }}">{{ repos.name }} {% if repos.fork == true %} <span class="badge badge-secondary fork-tag repo-badge">fork</span>  {% endif %}
										  		
										  		<div class="list-item-expanded">
										  			<p>
										  				{{ repos.description }}	
										  			</p>	
										  		</div>
										  	</a>
										</li>
										{% else %}
										<li class="list-group-item list-item-title list-item-hidden" data-repo-id="{{ repos.id }}">
										  	<a href="{{ repos.html_url }}">{{ repos.name }}
										  		
										  		<div class="list-item-expanded">
										  			{{ repos.description }}
										  		</div>
										  	</a>
										</li>
									{% endif %}
								{% endfor %}

							</ul>
						</div>
						<div id="public-gist-box" class="col-md-4 dynamic-content"> 	
							<h5>
								<i class="fas fa-file-code"></i>
								public gists
							</h5>
							<ul id="public-gist-list" class="list-group list-group-flush">
							</ul>
							<div class='loading-spinner'><i class='fas fa-circle-notch'></i></div>
						</div>
						<div id="quote-box" class="col-md-3">
							<p>
								{{ page.quote }}
							</p>
						</div>
					</div><!-- /.row --> 
					<div id="stats-box" class="row">
						<h5>
							<i class="fas fa-chart-pie"></i>
							stats
						</h5>
						<div id="popular-language" class="col-md-4 stats-item-box">
							<h6>
								most popular language
							</h6>
							<p>

							</p>
							<div class='loading-spinner'><i class='fas fa-circle-notch'></i></div>
						</div>
						<div id="languages-used" class="col-md-4 stats-item-box">
							<h6>
								all languages used
							</h6>
							<ul>
							</ul>
							<div class='loading-spinner'><i class='fas fa-circle-notch'></i></div>
						</div>
						<div id="most-commits" class="col-md-4 stats-item-box">
							<h6>
								most commits (by repo)
							</h6>
							<p></p>
							<div class='loading-spinner'><i class='fas fa-circle-notch'></i></div>
						</div>
						<div style="display:none"><input type="file" name="blob"></div>
						
					</div><!-- /.row --> 
				</div><!-- /.container -->
			</div><!-- /#main-content -->

			
				<footer>
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div id="github-logo-box">
									<i class="fab fa-github-square"></i>
								</div>
								<div id="footer-repo-info">
									<p>{{ site.github.project_title }}</p>
									<p>{{ site.github.releases[0].tag_name }} [{{ site.github.releases[0].target_commitish }}]</p>
								</div>
							</div>

						</div>
					</div>
					<div id="demo">
						
					</div>
				</footer>
				<script type="text/javascript">
					var site = {{ site.github | jsonify }};
					var repos = {{ site.github.public_repositories | jsonify }};
					var token = "{{ page.token }}";
					console.log(repos);
				</script>
			 {% for js in page.appJS %}
			     <script id="appJS" type="text/javascript">
			     	{% include {{ js }} %}
			     </script>
			 {% endfor %}

		</body>
	</html>